RewriteEngine on                     # Activates the rewrite engine
RewriteCond %{REQUEST_FILENAME} !-d  # do not rewrite if folder exists
RewriteCond %{REQUEST_FILENAME} !-f  # do not rewrite if file exists
RewriteRule . index.php [L]          # otherwise, rewrite to index.php

<Directory */>
     Order Deny,Allow
     Deny from All
</Directory>