ErrorDocument 401 /error_handling/error.php
ErrorDocument 403 /error_handling/error.php
ErrorDocument 404 /error_handling/error.php
ErrorDocument 500 /error_handling/error.php

#Prevents direct folder access
Options -Indexes
